@using PaperHelp.Models;
@model  IEnumerable<Order>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="row">
    <div class="col-md-12">
        <div class="table-wrap">
            <table class="table table-responsive-xl">
                <thead>
                    <tr>
                        <th>Service</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Status</th>
                        <th>DeadLine</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var o in Model)
                    {



                        if (o.OrderStatus == 5)
                        {
        <tr class="alert" role="alert">
            <td class="d-flex align-items-center">
                <div class="pl-3 email">
                    @*o.Service.Name*@
                </div>
            </td>

            <td>@o.Description</td>
            <td>@o.Price</td>
            <td class="status">
                @{ if (o.OrderStatus == 5)
                    {
<span class="alert-primary">Review</span> } }
            </td>
            <td>@o.finishedDate</td>

        
        </tr>}

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

