@using PaperHelp.Models
@model IEnumerable<Service>
@{ ViewBag.Title = "Home Page"; }

<!-- home section starts  -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<section class="home" id="home">

    <div class="content">
        <h3>
            Whatever paper you need - we will help you write it

        </h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere atque sapiente veritatis nesciunt adipisci culpa.</p>
        <a href="#" class="btn">Let us help</a>
    </div>

    <div class="image">
         <img src="~/images/rocket.svg" alt="">
        @*<img src="~/images/Site Stats.gif" />*@

    </div>

     <div class="cloud cloud-1"></div>
    <div class="cloud cloud-2"></div>

</section>

<!-- home section ends -->
<!-- services section starts   -->

<section class="portfolio" id="portfolio">

    <h1 class="heading"> Offers <span>Services</span> </h1>

    <div class="box-container">
        @foreach (var ss in Model)
        {

            if (ss.Sale == true)
            {


<div class="box">
    <span>Sale</span>
    <img src="@Url.Content(ss.Photo)" alt="">
    <div class="content">
        <h3>@ss.Name</h3>
        <p>@ss.Description</p>
        <a href="@Url.Action("Order", "Services", new { id = ss.Id })" class="btn" style="text-align:center; width:150px">Order Now</a>
    </div>
</div>}
            }

    </div>

</section>

<!-- Services section ends -->
<!-- Why us section starts  -->

<section class="services" id="services">

    <h1 class="heading"> Why <span>Us ?</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="bi bi-chat-left-dots-fill fa-9x" style="color: #e8786e"></i>
            <h3>24 hours customer service</h3>


        </div>

        <div class="box">
            <i class="bi bi-shield-check  fa-9x" style="color: #e8786e"></i>
            <h3>Trusted electronic online</h3>

        </div>

        <div class="box">
            <img src="~/images/s-3.png" alt="">
            <h3>Fast Service</h3>


        </div>

        <div class="box">
            <i class="bi bi-credit-card-2-front fa-9x" style="color: #e8786e"></i>
            <h3>Support by many ways of payments</h3>


        </div>

        <div class="box">
            <img src="~/images/s-5.png" alt="">
            <h3>Save your money with our sales</h3>

        </div>

        <div class="box">
            <img src="~/images/s-6.png" alt="">
            <h3>an option to save in PDF</h3>


        </div>

    </div>

</section>
<!--========Why us section end========-->