@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    color: #fff;
}
button:hover{
    cursor: pointer;
}
body {
    padding: 50px;
    background: #ffffff;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    text-decoration: none;
    font-weight: bolder;
    font-size: 2em;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    position: relative;
    list-style-type: none;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    padding: 0 35px;
    border-right: 1px solid #fff;
    transition: all .5s ease-in-out;
}
nav ul li a:hover{
    color: #4bb3f0;
}
nav ul li:last-child a{
    border-right: none;
}
#hero{
    width: 100%;
    min-height: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
#hero .hero-text{
    width: 50%;
    max-width: 50%;
}
#hero .hero-image{
    width: 50%;
}


    #hero #button-blue {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        float: right;
        width: 25%;
        height: 40px;
        border: #fbfbfb solid 4px;
        cursor: pointer;
        background-color: #f78d8d;
        border-radius: 8px;
        color:#655b5b;
        font-size: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        margin-top: 200px;
        font-weight: 700;
    }

        #hero #button-blue:hover {
            background-color: rgba(0,0,0,0);
            color: #f78d8d;
        }

.submit:hover {
    color: #fff;
}





    #hero .forlabel {
        font-weight: 400;
        font-size: 1.1em;
        color: var(--black);
    }
    #hero h5 {
        font-weight: 400;
        font-size: 1.1em;
        color: var(--black);
    }
    #hero h1 {
        position: relative;
        font-weight: 700;
        font-size: 4em;
        color:var(--bg);
    }

    #hero p {
        font-size: 1em;
        letter-spacing: 1px;
        margin-bottom: 50px;
        text-align: justify;
        line-height: 2;
        color: var(--black);
    }
#hero a {
    color: #655b5b;
    font-size: 18px;
    font-weight:bold;
}
#hero a:hover{
    color:white;
}
#hero .btn2 {
    position: relative;
    padding: 10px 35px;
    border: none;
    color: #655b5b;
    /*;
    border-radius: 30px; */
    background: none;
    font-size: 18px;
    transition: all .5s /*ease-in-out*/;
}

        #hero .btn2::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: #f69696;
        
            width: 30%;
            height: 100%;
            border-radius: 3px;
            z-index: -1;
            transition: all .5s ease-in-out;
        }
    #hero .btn2:hover::before {
            width: 100%;
        }
    #hero .btn2:hover {
            color: #fff;
        }

#hero button {
    position: relative;
    padding: 10px 25px;
    border: none;
    color: #655b5b;
    /*;
    border-radius: 30px; */
    background: none;
    font-size: 1.7em;
    transition: all .5s ease-in-out;
}
    #hero button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #f69696;
        color: #655b5b;
        width: 30%;
        height: 100%;
        border-radius: 3px;
        z-index: -1;
        transition: all .5s ease-in-out;
    }
#hero button:hover::before{
    width: 100%;
}
#hero button:hover{
    color: #fff;
}
#hero img{
    position: absolute;
    top: 80px;
    right: 100px;
    width: 500px;
}
#sub-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
    #sub-content .sub-left {
        position: relative;
        width: 50%;
        background: linear-gradient(to left, var(--bg), #f17070);
        padding: 20px;
        height: 200px;
        min-height: 200px;
        box-sizing: border-box;
    }
#sub-content .sub-left p{
    width: 80%;
    text-align: justify;
    margin-top: 20px;
}
#sub-content .sub-left img{
    position: absolute;
    top: 15px;
    right: -75px;
    border: 12px solid #382857;
}
#sub-content .sub-left .btn22{
    position: relative;
    background: none;
    border: none;
    margin-top: 15px;
    transition: all .5s ease-in-out;
}
#sub-content .sub-left .btn22::after{
    content: '::-';
    position: absolute;
    right: -25px;
    transition: all .5s ease-in-out;
}
#sub-content .sub-left .btn22:hover::after{
    right: -35px;
}
#sub-content .sub-left .btn22:hover{
    color: #382857;
}
#sub-content .social-icons img{
    position: relative;
    top: 0;
    width: 40px;
    margin: 0 10px;
    border-radius: 50%;
    opacity: .8;
    transition: all .5s ease-in-out;
}
#sub-content .social-icons img:hover{
    top: -15px;
}